[submodule "labs/lab06-structs-Elias2660"]
	path = labs/lab06-structs-Elias2660
	url = https://github.com/Stuycs-K/lab06-structs-Elias2660.git
[submodule "labs/lab07-random-Elias2660"]
	path = labs/lab07-random-Elias2660
	url = https://github.com/Stuycs-K/lab07-random-Elias2660.git
